{% extends "base.html" %}

{% block content %}
<h2>Моя библиотека</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#want">📌 Хочу ({{ want|length }})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#reading">📖 Читаю ({{ reading|length }})</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#read">✅ Прочитано ({{ read|length }})</a>
    </li>
</ul>

<div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="want">
        <div class="row">
            {% for book in want %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h6>{{ book.book_title[:40] }}</h6>
                        <p class="small text-muted">{{ book.book_author[:30] }}</p>
                    </div>
                </div>
            </div>
            {% else %}
            <p>Нет книг в этом списке</p>
            {% endfor %}
        </div>
    </div>
    
    <div class="tab-pane fade" id="reading">
        <div class="row">
            {% for book in reading %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h6>{{ book.book_title[:40] }}</h6>
                        <p class="small text-muted">{{ book.book_author[:30] }}</p>
                    </div>
                </div>
            </div>
            {% else %}
            <p>Нет книг в этом списке</p>
            {% endfor %}
        </div>
    </div>
    
    <div class="tab-pane fade" id="read">
        <div class="row">
            {% for book in read %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h6>{{ book.book_title[:40] }}</h6>
                        <p class="small text-muted">{{ book.book_author[:30] }}</p>
                    </div>
                </div>
            </div>
            {% else %}
            <p>Нет книг в этом списке</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
